* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #151b23;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

body::after {
    position: absolute;
    content: "";
    top: 100px;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: cyan;
    filter: blur(100px);
    display: block;
}

.photo {
    width: 300px;
    border: 3px solid rgb(0, 255, 221);
    border-radius: 50%;
    box-shadow: 0 0 10px cyan;
    margin-top: 150px;
    margin-left: 250px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.nav-link span:hover {
    text-shadow:
        0 0 5px #0077ff,
        0 0 15px #0077ff,
        0 0 30px #0077ff,
        0 0 60px #0077ff;
    transition: color 0.5s ease;
}

.nav-link {
    position: relative;
}

i {
    position: absolute;
    margin-right: 5px;
    color: #0077ff;
    display: flex;
    justify-content: center;
}

.logo {
    color: #0077ff;
    position: relative;
}

.logo::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    background: #ff0000;
    border-radius: 50px 50px 0 0;
}

.name {
    color: #ffffff;
}

.brand::not(.name) {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.brand {
    display: flex;
    gap: 10px;
    width: 30px;
}

nav {
    /* border-radius: 15px; */
    background: #010409;
    height: 80px;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 0;
    height: 3px;

    background: #ff0000;
    box-shadow:
        0 0 10px #ff0000,
        0 0 25px #ff0000;

    transform: translateX(-50%);
    animation: expandLine 0.6s ease forwards;
}

nav:hover::after {
    width: 100%;
}

nav .logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav ul {
    list-style: none;
    padding: 10px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.nav-link {
    position: relative;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    border-radius: 100px 100px 0 0;
    display: block;
    width: 0;
    height: 4px;
    transform: translateX(-50%);
    background-color: #0077ff;
    box-shadow: 0 0 50px #0077ff;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    text-shadow:
        0 0 5px #0077ff,
        0 0 15px #0077ff,
        0 0 30px #0077ff,
        0 0 60px #0077ff;
    transition: color 0.3s ease;
}