.slide-right{
    opacity: 0;
    animation: slideFromRight 1.5s ease forwards;
}
.slide-left{
    opacity: 0;
    animation: slideFromLeft 1.5s ease forwards;
}
.slide-up{
    opacity: 0;
    animation: slideFromBottom 1s ease forwards;
}
.fade-in{
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.fade-up{
    opacity: 0;
    animation: FadeUp 1s ease forwards;
}
.slide-up-right{
    animation: slideUpFromRight 1s ease forwards;
    animation-timeline: view(10% 0%);
}
.slide-up-left{
    animation: slideUpFromLeft 1s ease forwards;
    animation-timeline: view(10% 0%);
} 
.slide-up-auto{
    animation: slideUpAtView 1s ease forwards;
    animation-timeline: view(10% 0%);
}
@keyframes slideUpAtView {
    from{
        opacity: 0;
        transform: translateY(40px);
        scale: 0.8;
    }
    to{
        opacity: 1;
        transform: translateY(0px);
        scale: 1;
    }
}
@keyframes slideUpFromRight {
    0% {
        transform: translateX(100px);
        scale: 0.5;
        opacity: 0; 
    }
    65% {
        transform: translateX(0);
        scale: 1;
        opacity: 1;
    }
}
@keyframes slideUpFromLeft {
    0% {
        transform: translateX(-200px);
        scale: 0.5;
        opacity: 0; 
    }
    65% {
        transform: translateX(0);
        scale: 1;
        opacity: 1;
    }
}
@keyframes fadeIn{
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}
@keyframes slideFromRight {
    from {
        transform: translateX(-80px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFromLeft {
    from {
        transform: translateX(80px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes expandLine {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes FadeUp{
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideFromBottom {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes animate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}