.slide-right{
    opacity: 0;
    animation: slideFromRight 1.5s ease forwards;
}
.slide-left{
    opacity: 0;
    animation: slideFromLeft 1.5s ease forwards;
}
.slide-up{
    opacity: 0;
    animation: slideFromBottom 1s ease forwards;
}
.fade-in{
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.fade-up{
    opacity: 0;
    animation: FadeUp 1s ease forwards;
}
@keyframes fadeIn{
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}
@keyframes slideFromRight {
    from {
        transform: translateX(-80px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFromLeft {
    from {
        transform: translateX(80px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes expandLine {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes FadeUp{
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideFromBottom {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes animate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}