* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(
  to top,
  #0b1320,
  #111827
);
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: visible;
    min-height: 100vh;
}

body::before {
    position: absolute;
    content: "";
    top: 100px;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: cyan;
    filter: blur(100px);
    display: block;
}


.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.nav-link span:hover {
    text-shadow:
        0 0 5px #0077ff,
        0 0 15px #0077ff,
        0 0 30px #0077ff,
        0 0 60px #0077ff;
    transition: color 0.5s ease;
}

.nav-link {
    position: relative;
}

.nav-link i {
    position: absolute;
    margin-right: 5px;
    color: #0077ff;
    display: flex;
    justify-content: center;
}

.logo {
    color: #0077ff;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.logo::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    background: #ff0000;
    border-radius: 50px 50px 0 0;
}

.name {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.brand::not(.name) {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.brand {
    display: flex;
    gap: 10px;
    width: 30px;
}

nav {
    background: #010409;
    height: 90px;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1000;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 0;
    height: 3px;

    background: #ff0000;
    box-shadow:
        0 0 10px #ff0000,
        0 0 25px #ff0000;

    transform: translateX(-50%);
    animation: expandLine 1.7s ease-in forwards;
}

nav:hover::after {
    width: 100%;
}

nav .logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav ul {
    list-style: none;
    padding: 10px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.nav-link {
    position: relative;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    border-radius: 100px 100px 0 0;
    display: block;
    width: 0;
    height: 4px;
    transform: translateX(-50%);
    background-color: #0077ff;
    box-shadow: 0 0 50px #0077ff;
    transition: width 0.3s ease;
}
.nav-link.active::after {
    width: 100%;
    background-color: #0077ff;
    box-shadow: 0 0 50px #0077ff;
}
.nav-link:hover::after {
    width: 100%;
    text-shadow:
        0 0 5px #0077ff,
        0 0 15px #0077ff,
        0 0 30px #0077ff,
        0 0 60px #0077ff;
    transition: color 0.5s ease;
    transition: width 0.3s ease;
}
/* stats footer design */
footer {
    width: 100%;
    padding: 20px 60px;
    margin-top: auto;
    height: 70px;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
    z-index: 1;
}
footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 0;
    height: 3px;

    background: #ff0000;
    box-shadow:
        0 0 10px #ff0000,
        0 0 25px #ff0000;

    transform: translateX(-50%);
    animation: expandLine 1.7s ease-in forwards;
    /* animation-timeline: view(5% 0%); */
}
footer h2{
    color: white;
    font-size: 15px;
    text-shadow: 0 0 10px #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100% ;
}
.icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: white;
    text-decoration: none;
}
.icon::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 40px;
    height: 3px;
    border-radius: 20px;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.icon:hover::after {
    width: 55px;
    opacity: 1;
}
.instagram::after {
    background: #e22d66;
    box-shadow: 0 0 12px #e22d66;
}

.facebook::after {
    background: #1877f2;
    box-shadow: 0 0 12px #1877f2;
}

.github::after {
    background: #ffffff;
    box-shadow: 0 0 12px #ffffff;
}

.linkedin::after {
    background: #0a66c2;
    box-shadow: 0 0 12px #0a66c2;
}

.snapchat::after {
    background: #fffc00;
    box-shadow: 0 0 12px #fffc00;
}

.whatsapp::after {
    background: #00ff04;
    box-shadow: 0 0 12px #00ff04;
}
.instagram:hover {
    text-shadow: 0 0 5px #e22d66;
}

.facebook:hover{
    text-shadow: 0 0 5px #1877f2;
}

.github:hover{
    text-shadow: 0 0 5px #ffffff;
}

.linkedin:hover{
    text-shadow: 0 0 5px #0a66c2;
}

.snapchat:hover {
    text-shadow: 0 0 5px #fffc00;
}

.whatsapp:hover {
    text-shadow: 0 0 5px #00ff04;
}

.social a {
    display: inline-block; 
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.social a:hover{
    transform: scale(1.2) ;

}