* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #151b23;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

body::before {
    position: absolute;
    content: "";
    top: 100px;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: cyan;
    filter: blur(100px);
    display: block;
}


.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.nav-link span:hover {
    text-shadow:
        0 0 5px #0077ff,
        0 0 15px #0077ff,
        0 0 30px #0077ff,
        0 0 60px #0077ff;
    transition: color 0.5s ease;
}

.nav-link {
    position: relative;
}

i {
    position: absolute;
    margin-right: 5px;
    color: #0077ff;
    display: flex;
    justify-content: center;
}

.logo {
    color: #0077ff;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.logo::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    background: #ff0000;
    border-radius: 50px 50px 0 0;
}

.name {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.brand::not(.name) {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.brand {
    display: flex;
    gap: 10px;
    width: 30px;
}

nav {
    background: #010409;
    height: 90px;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 0;
    height: 3px;

    background: #ff0000;
    box-shadow:
        0 0 10px #ff0000,
        0 0 25px #ff0000;

    transform: translateX(-50%);
    animation: expandLine 1.7s ease-in forwards;
}

nav:hover::after {
    width: 100%;
}

nav .logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav ul {
    list-style: none;
    padding: 10px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.nav-link {
    position: relative;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    border-radius: 100px 100px 0 0;
    display: block;
    width: 0;
    height: 4px;
    transform: translateX(-50%);
    background-color: #0077ff;
    box-shadow: 0 0 50px #0077ff;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    text-shadow:
        0 0 5px #0077ff,
        0 0 15px #0077ff,
        0 0 30px #0077ff,
        0 0 60px #0077ff;
    transition: color 0.5s ease;
    transition: width 0.3s ease;
}

.photo {
    width: 300px;
    border: 4px solid rgb(0, 213, 255);
    border-radius: 50%;
    box-shadow: 0 0 1000px rgba(0, 221, 255, 0.411);
    margin-top: 150px;
    margin-left: 250px;
    animation: expand 1s ease forwards;
}

.info {
    gap: 20px;
    display: flex;
    color: #ffffff;
}

.highlight {
    color: #0077ff;
    font-weight: 550;
    padding-bottom: 5px;
    overflow: hidden;
}
.intro {
    font-size: 50px;
    margin-top: 180px;
    width: 100%;
    height: auto;
    text-shadow: 2px 2px 10px #010409;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Arial, sans-serif;
}


.intro::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 150px;
    background: #ff0000;
    box-shadow: 0px 0px 10px #ff0000;
    border-radius: 100px 100px 0 0;
    animation: line 1s ease-in forwards;
    animation-delay: 0.4s;
}
.logos{
     margin-top: 15px;
    font-size:26px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.logos span {
    color: white;
    position: relative;
    display: flex;
    font-family: 'Poppins', sans-serif;
    width: 125px;
    height: 42px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
    z-index: 1;
    border: 1px solid rgb(0, 255, 255);
}
.logos span::before {
    content: "";
    position: absolute;
    width: 125px;
    height: 15px;
    background-color: cyan;
    animation: animate 5s linear infinite;
    z-index: -1;
}

.logos span::after {
    content: "";
    position: absolute;
    width: calc(100% - 4px);
    height: 35px;
    border-radius: 20px;
    background-color: #151b23;
    z-index: -1;
}
@keyframes animate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}