#home{
    position: relative;
}
.scroll-down {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 40px;
  border: 2px solid #38bdf8;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}
.scroll-down p{
    font-size: 12px;
    color: #38bdf8;
    font-family: Arial, sans-serif;
    display: flex;
    justify-self: center;
    align-items: center;
}
.scroll-down span {
  width: 10px;
  height: 10px;
  color: #38bdf8;
  /* background: #38bdf8; */
  border-radius: 50%;
  animation: scroll 1.5s  infinite;
}

@keyframes scroll {
  0% {
      transform: translateY(20px);
      opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(0);
  }
}

.photo {
    width: 300px;
    border: 2px solid rgb(0, 213, 255);
    border-radius: 50%;
    box-shadow: 0 0 1000px rgba(0, 221, 255, 0.411);
    animation: expand 1s ease forwards;
}

.info {
    gap: 30px;
    margin-left: 10px;
    margin-top: 150px;
    display: flex;
    color: #ffffff;
}

.highlight {
    color: #0077ff;
    font-weight: 550;
    padding-bottom: 5px;
    overflow: hidden;
}

.intro {
    font-size: 50px;
    padding-top: 40px;
    width: 100%;
    height: auto;
    text-shadow: 2px 2px 10px #010409;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Arial, sans-serif;
}


.intro::after {
    position: absolute;
    content: "";
    width: 300px;
    height: 3px;
    left: 0;
    bottom: 140px;
    background: #ff0000;
    box-shadow: 0px 0px 10px #ff0000;
    border-radius: 100px 100px 0 0;
    animation: FadeUp 1s ease forwards;
}
.welcome{
    font-size: 24px;
    margin-top: 10px;
    color: #38bdf8;
    font-weight: 400;
}
.logos {
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.logos span {
    color: white;
    position: relative;
    display: flex;
    font-family: 'Poppins', sans-serif;
    width: 125px;
    height: 42px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
    z-index: 1;

}

.logos span::before {
    content: "";
    position: absolute;
    width: 125px;
    height: 15px;
    background-color: rgb(0, 255, 145);
    animation: animate 5s linear infinite;
    z-index: -1;
    transform: rotate(90deg);
    filter:
        drop-shadow(0 0 10px rgb(0, 255, 145));
}

.logos span::after {
    content: "";
    position: absolute;
    width: calc(100% - 4px);
    height: 38px;
    border-radius: 20px;
    background-color: #0b1320;
    z-index: -1;
}

.other-info {
    padding-top: 30px;
    gap: 40px;
    display: flex;
    justify-content: center;
}

/*for details*/
.box {
    display: flex;
    color: white;
    position: relative;
    display: flex;
    font-family: 'Poppins', sans-serif;
    width: 270px;
    height: 100px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;
}

.box::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 50px;
    background-color: cyan;
    transform: rotate(15deg);
    filter: drop-shadow(0 0 10px cyan);
    animation: animate 5s linear infinite;

    z-index: -1;
}

.box::after {
    content: "";
    position: absolute;
    width: calc(100% - 3px);
    height: 97px;
    background-color: #0b1320;
    z-index: -1;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.box .location {
    font-size: 20px;
}

.box span {
    position: absolute;
    transition: opacity 0.3s ease;
}

.box .address {
    opacity: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    padding: 10px;
    color: #0077ff;
}

.box:hover .location {
    opacity: 0;
}

.box:hover .address {
    opacity: 1;
}
/* home section */
#home {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/* about section */
section {
    scroll-margin-top: 90px;
    margin-bottom: 20px;
    overflow: visible;
}

#about {
    background: #0b1320;
    max-width: 100%;
    margin: 80px auto;
    padding: 20px;
    position: relative;
    overflow: visible;
}
#about::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 46.5%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #00ff1e;
    filter: blur(150px);
    display: block;
}
#about::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 46.5%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #00ff1e;
    filter: blur(150px);
    display: block;
}
.about-content{
    position: relative;
}
.about-content::after{
    position: absolute;
    content: "";
    top: 20px;
    left: 50%;
    width: 5px;
    height: 106vh;
    border-radius: 100px;
    transform: translateY(80px);
    background: #00ff1e;
     box-shadow:
        0 0 10px #00ff1e,
        0 0 20px #00ff1e,
        0 0 30px #00ff1e,
        0 0 40px #00ff1e;
    display: block;
}

.about-section-title {
    text-align: center;
    position: relative;
    color: white;
    font-size: 36px;
    font-weight: 600;
    margin-left: 20px;
    padding: 20px;
}


.about-containt1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.Introduction {
    color: #38bdf8;
    font-size: 32px;
    margin-left: 20px;
    padding: 0 30px 30px 30px;
    text-align: right;
}

.introduction {
    text-align: right;
    color: #d1d5db;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    padding: 0 30px 30px 30px;
    line-height: 1.8;
    letter-spacing: 0.5px;
}
.about-containt2{
    display: flex;
    flex-direction: column;
    justify-self: end;
    gap: 10px;
    width: 50%;
}
.about-containt2 .Introduction{
    color: #38bdf8;
    font-size: 32px;
    margin-left: 20px;
    padding: 0 30px 30px 30px;
    text-align: left;
}
.about-containt2 .introduction{
    text-align: left;
    color: #d1d5db;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    padding: 0 30px 30px 30px;
    line-height: 1.8;
    letter-spacing: 0.5px;
}
